<p>
ilm-channel works!
</p>
بَارَكَ اللهُ لَكَ فِى المَوَاهُوْبِ لَكَ وَ شَكَرْتَ الْوَاهَبِ – وَبَلَغَ أَشُدَّهُ – وَ رُزِقْتَ بِرُّهُ وَ مُبَارَكاً عَلَىْكَ وَ عَلَى أُمَّةِ مَحَمًّدٍ صَلَّى اللهُ عَلْيْهِ وَ سَلَّم
উচ্চারণ : বারাকাল্লাহু লাকা ফিল মাওহুবে লাকা ওয়া শাকারতাল ওয়াহেবে ওয়া বালাগা আশুদ্দাহু ওয়া রুঝিক্বতা বির্রুহু ওয়া মুবারাকান আলাইকা উম্মাতে মুহাম্মাদিন সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম।’
অর্থ : আল্লাহ তোমার জন্য এ সন্তানে বরকত দান করুন। তুমি আল্লাহর শুকরিয়া আদায় কর। এ সন্তান দীর্ঘজীবী হোক। কল্যাণময় রিঝিক দান করুন। মুহাম্মাদ সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম উম্মত হিসেবে থাকার দ্বীনের ওপর থাকার বরকত দান করুন।’

'ওয়া ইন্নাকা লা'আলা খুলুকিন আজিম' অর্থাৎ এবং নিশ্চয় আপনি মহান চরিত্রের অধিকারী।

ইন্নাকা লা আলা খুলুকিন আযীম