১	পুরুষদের মাহরাম
১.১	মায়ের মত ৫ জন
১.২	বোনের মত ৫ জন
১.৩	মেয়ের মত ৪ জন
২	মহিলাদের মাহরাম
২.১	বাবার মত ৪ জন
২.২	ভাই-এর মত ৫ জন
২.৩	ছেলের মত ৫ জন

<div class="row mt-2">
  <div class="col-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
</div>