<ul class="list-group list-group-flush">
  <li class="list-group-item">১	পুরুষদের মাহরাম
    <ul class="list-group list-group-flush">
      <li class="list-group-item">১.১	মায়ের মত ৫ জন</li>
      <li class="list-group-item">১.২	বোনের মত ৫ জন</li>
      <li class="list-group-item">১.৩	মেয়ের মত ৪ জন</li>
    </ul>
  </li>
  <li class="list-group-item">২	মহিলাদের মাহরাম
    <ul class="list-group list-group-flush">
      <li class="list-group-item">২.১	বাবার মত ৪ জন</li>
      <li class="list-group-item">২.২	ভাই-এর মত ৫ জন</li>
      <li class="list-group-item">২.৩	ছেলের মত ৫ জন</li>
    </ul>
  </li>
  <!--
<li class="list-group-item"><small>https://www.islamicqa.org/2138</small></li>
<li class="list-group-item"><small>https://www.hadithbd.com/mahram/</small></li>
<li class="list-group-item"><small>http://www.imam.gov.bd/singlepost/5368</small></li>
<li class="list-group-item"><small>https://www.ekushey-tv.com/religion-life/news/116076</small></li>
<li class="list-group-item"><small>https://bn.quora.com/%E0%A6%86%E0%A6%AA%E0%A6%A8%E0%A6%BF-%E0%A6%95%E0%A6%BF-%E0%A6%AA%E0%A7%81%E0%A6%B0%E0%A7%81%E0%A6%B7-%E0%A6%93-%E0%A6%AE%E0%A6%B9%E0%A6%BF%E0%A6%B2%E0%A6%BE%E0%A6%A6%E0%A7%87%E0%A6%B0</small></li>
<li class="list-group-item"><small>https://bn.wikipedia.org/wiki/%E0%A6%AE%E0%A6%BE%E0%A6%B9%E0%A6%B0%E0%A6%BE%E0%A6%AE</small></li>
  -->
</ul>