
.content {
  margin: 0 50px 0 0;
  text-justify: auto;
  font-size: 30px;
}

/*
.arrow {
  display: flex;
  align-items: center;
  transform: rotate(45deg);
  transform-origin: 0;
  left: 100px;
  top: 100px;
  position: absolute;
  width: 300px;
}

.start {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: blue;
}

.line {
    flex: 1;
    background:blue;
    height:10px;
}
.end {	
  width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid blue;
}*/