<div class="row">
  <div class="col-12">
    <app-advice *ngIf="0"></app-advice>
  </div>
  <ng-template #tpr1>
    <div class="scroller" style="max-height:{{ height - fixedHeight }}px">
      <app-advice *ngIf="1"></app-advice>
    </div>
  </ng-template>
  <app-side-slider [refTemplate]="tpr1" [positionTop]="0"></app-side-slider>
  <ng-template #tpr2>
    <div class="scroller" style="max-height:{{ height - fixedHeight }}px">
      <app-mahram *ngIf="1"></app-mahram>
    </div>
  </ng-template>
  <app-side-slider [refTemplate]="tpr2" [positionTop]="35"></app-side-slider>
  <ng-template #tpr3>
    <app-advice *ngIf="1"></app-advice>
  </ng-template>
  <ng-template #tpr4>
    <app-mahram *ngIf="1"></app-mahram>
  </ng-template>
  <app-card-slider
    [cardHeader]="'কোরআনে উপদেশ'"
    [refContent]="tpr3"
    [refIndex]="tpr4"
    [maxHeight]="height - fixedHeight"
    [showFooter] = "true"
  ></app-card-slider>
</div>
