.icon-bar {
  position: fixed;
  top: 50%;
  right:0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  background-color: #000;
}

/*
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
*/
.content {
  margin: 0 50px 0 0;
  text-justify: auto;
  font-size: 30px;
}


.arrow {
  display: flex;
  align-items: center;
  transform: rotate(45deg);
  transform-origin: 0;
  left: 100px;
  top: 100px;
  position: absolute;
  width: 300px;
}

.start {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: blue;
}

.line {
    /* width:500px; */
    flex: 1;
    background:blue;
    height:10px;
}
.end {	
  width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 20px solid blue;
}