/*move to styles.css
a.left.carousel-control.carousel-control-prev,
a.right.carousel-control.carousel-control-next{
  width: 6% !important;
}*/
.carousel-item {
  margin-right: 0;
}
/*
:host ::ng-deep a.left.carousel-control.carousel-control-prev,
:host ::ng-deep a.right.carousel-control.carousel-control-next
{
  width: 30px  !important;
}*/