<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="table-responsive">
    <table align="center">
      <tr>
        <td>
          <table width="100%">
            <tbody>
              <tr>
                <td class="text-center">Bashundhara Group</td>
              </tr>
              <tr>
                <td class="text-center">Department of Transport, Sector-C</td>
              </tr>
              <tr>
                <td class="text-center">Vehicle's  Fuel & Other Cost</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table border="1" width="100%">
            <tbody>
              <tr>
                <th colspan="2" class="text-right">
                  Vehicles Regn. No.: 
                </th>
                <td colspan="2">
                 Dhaka Met Ga 22-1013
                </td>
                <th class="text-right">
                 Date: 
                </th>
                <td>
                 03/06/2021
                </td>
              </tr>
              <tr>
                <th colspan="2" class="text-right">
                 User Name: 
                </th>
                <td colspan="2">
                 Sheakh Mohammad Rashadul Haider
                </td>
                <th class="text-right">
                 Driver's Name: 
                </th>
                <td>
                 Md. Shahin Mia
                </td>
              </tr>            
              <tr>
                <th colspan="2" class="text-right">
                  Payment Unit
                </th>
                <td>
                 BPML-3
                </td>
                <td>
                 {{daysInMonth}}
                </td>
                <th class="text-right">
                 Name of Month
                </th>
                <td>
                 February, 2021
                </td>
              </tr>
              <!--<tr>
                <td class="text-right">
                  <label>Last Name:</label>
                </td>
                <td>
                  <div class="col">
                    <input type="text" formControlName="lastName" class="form-control">
                  </div>
                </td>
                <td>
                  <div class="col">
                    <input type="text" formControlName="lastName" class="form-control">
                  </div>
                </td>
                <td>
                  <div class="col">
                    <input type="text" formControlName="lastName" class="form-control">
                  </div>
                </td>
              </tr>-->
              <tr>
                <th class="text-center">
                 Sl No.
                </th>
                <th class="text-center">
                  Date
                </th>
                <th class="text-center">
                Bill No 
                </th>
                <th class="text-center">
                 KM
                </th>
                <th class="text-center">
                 Amount (TK)
                </th>
                <th class="text-center">
                 Remarks
                </th>
              </tr>

              <tr>
                <td class="text-center">
                1
                </td>
                <td class="text-center">
                  8-Feb-20
                </td>
                <td class="text-center">
                355003
                </td>
                <td class="text-center">
                 101117
                </td>
                <td class="text-center">
                 579
                </td>
                <td class="text-center">
                 CNG
                </td>
              </tr>   
              <tr> 
                <th colspan="6">
                </th>
              </tr>   
              <tr>
                <th colspan="2" class="text-center">
                  Previous KM	
                </th>
                <th class="text-center">
                 100944
                </th>
                <th class="text-center">
                Octane 
                </th>
                <th class="text-center">
                1780.00
                </th>
                <th class="text-center">
                Signature  of User
                </th>
              </tr>   
              <tr>
                <th colspan="2" class="text-center">
                 Present KM	
                </th>
                <th class="text-center">
                101947
                </th>
                <th class="text-center">
                 Toll
                </th>
                <th class="text-center">
                0.00
                </th>
                <th rowspan="3">
                </th>
              </tr>   
              <tr>
                <th colspan="2" class="text-center">
                 Duration KM	
                </th>
                <th class="text-center">
                1003
                </th>
                <th class="text-center">
                Others
                </th>
                <th class="text-center">
                400.00
                </th>
              </tr>   
              <tr>
                <th colspan="2" class="text-center">
                  Cost Per KM	
                </th>
                <th class="text-center">
                 4.87
                </th>
                <th class="text-center">
                 Total Cost 
                </th>
                <th class="text-center">
                 7060.00
                </th>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>  zscfsd
        </td>
      </tr>         
             
      <!--
      <tr>
        <td>
          <table class="table table-bordered">
            <thead>
              <tr>
                <ng-container *ngFor="let col of columns; let index=index;">
                  <td>{{col}}</td>
                </ng-container>
                <ng-container>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm" (click)="onAddNewRow()">Add Row</button>
                  </td>
                </ng-container>
              </tr>
            </thead>
            <tbody formArrayName="tableRowArray">
              <tr *ngFor="let rowData of employeeForm.controls.tableRowArray.controls; let rowIndex=index;let l=last"
                [formGroupName]="rowIndex">
                <td>
                  {{rowIndex+1}}
                </td>
                <td>
                  <input type="text" class="form-control form-control-sm" formControlName="name" />
                  <div class="text-danger"
                    *ngIf="rowData.get('name').errors && (rowData.get('name').dirty || rowData.get('name').touched)">
                    <div *ngIf="rowData.get('name').errors?.required">Name is Required</div>
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control form-control-sm" formControlName="address" />
                </td>
                <td>
                  <input type="text" class="form-control form-control-sm" formControlName="salary" />
                </td>
                <td>
                  <div class="form-check text-center">
                    <input type="checkbox" class="form-check-input" formControlName="isActive" />
                    <label class="form-check-label"></label>
                  </div>
                </td>
                <td class="text-center">
                  <button type="button" class="btn btn-danger btn-sm" title="Delete" (click)="onDeleteRow(rowIndex)">
                                    Delete
                                </button>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>-->

    </table>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h5>Reactive Forms with PrimeNg Table</h5>
    </div>
    <div class="card-body">

    </div>
    <div class="card-footer text-center">
      <!--<button type="button" class="btn btn-primary btn-sm pull-left" (click)="onAddNewRow()">Add Row</button>-->
      <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-success" title="Save">Save Changes</button>
    </div>
  </div>

</form>