<div class="card">  
    <div class="card-header">  
        <h5>Reactive Forms with PrimeNg Table</h5>  
    </div>  
    <div class="card-body">  
        <form [formGroup]="employeeForm">  
            <table border="1">  
                <thead>  
                    <tr>  
                        <ng-container *ngFor="let col of columns">  
                            <td>{{col}}</td>  
                        </ng-container>  
                    </tr>  
                </thead>  
                    <tbody formArrayName="tableRowArray">  
                        <tr *ngFor="let rowData of employeeForm.controls.tableRowArray.controls; let rowIndex=index;let l=last" [formGroupName]="rowIndex">  
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="name" />  
                                <div class="text-danger" *ngIf="rowData.get('name').errors && (rowData.get('name').dirty || rowData.get('name').touched)">  
                                    <div *ngIf="rowData.get('name').errors?.required">Name is Required</div>  
                                </div>  
                            </td>  
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="address" />  
                            </td>  
                            <td>  
                                <input type="text" class="form-control form-control-sm" formControlName="salary" />
                            </td>  
                            <td>  
                                <div class="form-check">  
                                    <input type="checkbox" class="form-check-input" formControlName="isActive" />  
                                    <label class="form-check-label"></label>  
                                </div>  
                            </td>  
                            <td>  
                                <button type="button" class="btn btn-default" title="Delete" (click)="onDeleteRow(rowIndex)">  
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>  
                                </button>  
                            </td>  
                        </tr>  
                    </tbody>  
            </table>  
        </form>  
    </div>  
    <div class="card-footer">  
        <button type="button" class="btn btn-primary btn-sm pull-left" (click)="onAddNewRow()">Add Row</button>  
        <button type="button" class="btn btn-success btn-sm pull-right" title="Save">Save</button>  
    </div>  
</div>