<div class="card">
  <div class="card-header text-center">
    <h5>Reactive Forms with PrimeNg Table</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="employeeForm">
      <table>
        <tr>
          <td>
            <div class="row">
          <div class="col-md-6 mb-3">
            <label>First Name:</label>
            <input type="text" formControlName="firstName" class="form-control" required>
          </div>
          <div class="col-md-6 mb-3">
            <label>Last Name:</label>
            <input type="text" formControlName="lastName" class="form-control">
          </div>
        </div>
          </td>
        </tr>
        <tr>
          <td>
            <table class="table table-bordered" align="center">
              <thead>
                <tr>
                  <ng-container *ngFor="let col of columns">
                    <td>{{col}}</td>
                  </ng-container>
                </tr>
              </thead>
              <tbody formArrayName="tableRowArray">
                <tr *ngFor="let rowData of employeeForm.controls.tableRowArray.controls; let rowIndex=index;let l=last"
                  [formGroupName]="rowIndex">
                  <td>
                    <input type="text" class="form-control form-control-sm" formControlName="name" />
                    <div class="text-danger"
                      *ngIf="rowData.get('name').errors && (rowData.get('name').dirty || rowData.get('name').touched)">
                      <div *ngIf="rowData.get('name').errors?.required">Name is Required</div>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm" formControlName="address" />
                  </td>
                  <td>
                    <input type="text" class="form-control form-control-sm" formControlName="salary" />
                  </td>
                  <td>
                    <div class="form-check text-center">
                      <input type="checkbox" class="form-check-input" formControlName="isActive" />
                      <label class="form-check-label"></label>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-default" title="Delete" (click)="onDeleteRow(rowIndex)">
                                    Delete
                                </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <div class="card-footer text-center">
    <button type="button" class="btn btn-primary btn-sm pull-left" (click)="onAddNewRow()">Add Row</button>
    <button type="button" class="btn btn-success btn-sm pull-right" title="Save">Save</button>
  </div>
</div>