<div class="list-group-item list-group-item-action pl-1">
  <div class="d-flex">
    <div class="w-100" style="text-align:center;">
      <a href (click)="false">
        <span>{{data.sura.name}}&nbsp;[{{data.ayat.sura}}|{{data.sura.ayat}}-{{data.ayat.aya}}]</span>
      </a>
    </div>
    <div class="flex-shrink-1" style="text-align:right;white-space: nowrap;">   
      <a href (click)="_leftClick($event)" style="padding: 0 6px;" *ngIf="data.ayat.index>1">
        <i class="bi bi-arrow-left-circle"></i>
      </a>
      <a href (click)="_starClickClick({$event:$event, group:'star', item:data.ayat},'ayat-group-'+(data.isStar?'add':'remove'))" style="padding: 0 6px;">
        <i class="bi bi-star{{data.isStar?'-fill':''}}"></i>
      </a>
      <a href (click)="_rightClick($event)" style="padding: 0 6px;" *ngIf="data.ayat.index<6236">
        <i class="bi bi-arrow-right-circle"></i>
      </a>
      <a href (click)="false" [popover]="refMore" placement="auto" 
      [outsideClick]="true" style="padding: 0 6px;border: 1px lightgray dotted;">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </a>			  
    </div>
  </div>
  <div class="d-flex">
    <div class="w-100" style="text-align:center;">
      <hr class="hrh" *ngIf="config.aShow">
      <p class="atext" *ngIf="config.aShow" [ngStyle]="{'font-size': config.aFontSize+'px'}">{{data.ayat.atext}}</p>
      <hr class="hrh" *ngIf="config.mShow">
      <p class="mtext" appTextHighlight [content]="data.ayat.mtext" [searchTerm]="data.search" *ngIf="config.mShow"
        [ngStyle]="{'font-size': config.mFontSize+'px'}">
        {{data.ayat.mtext}}
      </p>
      <hr class="hrh" *ngIf="config.eShow">
      <p class="etext" *ngIf="config.eShow" [ngStyle]="{'font-size': config.eFontSize+'px'}">{{data.ayat.etext}}</p>
    </div>
  </div>
</div>