<div class="container">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
    </div>
    <div class="col-md-8 order-md-1">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>First Name:</label>
            <input type="text" formControlName="firstName" class="form-control" required>
          </div>
          <div class="col-md-6 mb-3">
            <label>Last Name:</label>
            <input type="text" formControlName="lastName" class="form-control">
          </div>
        </div>
        <div formGroupName="address">
          <h3>Address</h3>
          <div class="mb-3">
            <label for="address">Line 1</label>
            <input type="text" class="form-control" id="address1" placeholder="1234 Main St" required="">
            <div class="invalid-feedback">
              Please enter your address.
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">Line 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
          </div>

          <div class="row">
            <div class="col-md-3 mb-3">
              <label>Street:</label>
              <input type="text" formControlName="street" class="form-control">
            </div>

            <div class="invalid-feedback">
              Please select a valid country.
            </div>
            <div class="col-md-3 mb-3">
              <label>City:</label>
              <input type="text" formControlName="city" class="form-control">
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label>State:</label>
              <input type="text" formControlName="state" class="form-control">

              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label>Zip Code: </label>
              <input type="text" formControlName="zip" class="form-control">

              <div class="invalid-feedback">
                Zip code required.
              </div>
            </div>
          </div>
        </div>

        <div formArrayName="aliases">
          <h3>Aliases</h3>
          <div class="row">
            <div class="col-md-12 mb-2">
              <div *ngFor="let alias of aliases.controls; let i=index">
                <!-- The repeated alias template -->
                <label>Alias:-{{i+1}} </label>
                <input type="text" [formControlName]="i" class="form-control">
              </div>
            </div>
            <div class="col-md-12 mb-2 text-right">
              <button (click)="addAlias()" class="btn btn-secondary">Add Alias</button>
            </div>
          </div>
        </div>

        <hr class="mb-4">
        <button type="submit" [disabled]="!profileForm.valid" class="btn btn-primary btn-block">Submit</button>
      </form>

      <hr>
      <p>
        Form Value: {{ profileForm.value | json }}
      </p>
      <p>
        Form Status: {{ profileForm.status }}
      </p>
      <p>
        <button (click)="updateProfile()" class="btn btn-outline-primary btn-block">Update Profile</button>
      </p>
    </div>
  </div>