body {
  /*
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwXOfO_19N5ycxlPzT__ODHdV2k73MFvrJgw&usqp=CAU);
  */
   background-image: url(https://cdn1.vectorstock.com/i/1000x1000/35/25/blank-paper-texture-vector-1833525.jpg);
}
.card {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/intro1.jpg);
  background-position: center;
  background-size: cover;
}