<div class="btn-group" dropdown [dropup]="isDropup">
  <button id="button-dropup" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-dropup">     
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-dropup">
      <li role="menuitem">
      <ng-container>
        <a class="dropdown-item" routerLink="/landings">Landings</a>
      </ng-container>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem"><a class="dropdown-item" routerLink="/">Action</a></li>
    <li role="menuitem"><a class="dropdown-item" routerLink="/">Another action</a>
    </li>
    <li role="menuitem"><a class="dropdown-item" routerLink="/">Something else
      here</a>
    </li>     
    <li role="menuitem">
      <ng-container>
        <a class="dropdown-item" routerLink="/ilmchannel">Ilm Channel</a>
      </ng-container>
    </li>
    <li class="divider dropdown-divider"></li>
    <li role="menuitem">
      <ng-container>
        <a class="dropdown-item" routerLink="/selectedilms">Selected Ilms</a>
      </ng-container>
    </li>
    
  </ul>
</div>