
app-print-content {
  /* hide the printing component from @media screen */
  display: none;
}

@media print { 
  
  html {
    font-family: Lato;
  }
  /* invert the display (show/hide) properties of the main */
  /* aplication component and the printing component       */
  app-print-content {
    display: block;
  }

  app-print-container {
    display: none;
  }
  
  /* ##################################################### */
  h1 {
    font-size: 18pt;
  }

  p {
    font-size: 12pt;
  }

}