<p>
ilm-channel works!
</p>
بَارَكَ اللهُ لَكَ فِى المَوَاهُوْبِ لَكَ وَ شَكَرْتَ الْوَاهَبِ – وَبَلَغَ أَشُدَّهُ – وَ رُزِقْتَ بِرُّهُ وَ مُبَارَكاً عَلَىْكَ وَ عَلَى أُمَّةِ مَحَمًّدٍ صَلَّى اللهُ عَلْيْهِ وَ سَلَّم
উচ্চারণ : বারাকাল্লাহু লাকা ফিল মাওহুবে লাকা ওয়া শাকারতাল ওয়াহেবে ওয়া বালাগা আশুদ্দাহু ওয়া রুঝিক্বতা বির্রুহু ওয়া মুবারাকান আলাইকা উম্মাতে মুহাম্মাদিন সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম।’
অর্থ : আল্লাহ তোমার জন্য এ সন্তানে বরকত দান করুন। তুমি আল্লাহর শুকরিয়া আদায় কর। এ সন্তান দীর্ঘজীবী হোক। কল্যাণময় রিঝিক দান করুন। মুহাম্মাদ সাল্লাল্লাহু আলাইহি ওয়া সাল্লাম উম্মত হিসেবে থাকার দ্বীনের ওপর থাকার বরকত দান করুন।’

'ওয়া ইন্নাকা লা'আলা খুলুকিন আজিম' অর্থাৎ এবং নিশ্চয় আপনি মহান চরিত্রের অধিকারী।

ইন্নাকা লা আলা খুলুকিন আযীম

<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Cras justo odio
    <span class="badge badge-primary badge-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Dapibus ac facilisis in
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Morbi leo risus
    <span class="badge badge-primary badge-pill">1</span>
  </li>
</ul>
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small>Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small><span class="badge badge-primary badge-pill">14</span>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small class="text-muted">3 days ago</small>
    </div>
    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </a>
</div>