$border-radius: 4px;
p {
  font-family: Lato;
}

.history {
  width: 250px;
  height: 500px;
  border: 3px solid rgb(116, 17, 107);
  border-radius: $border-radius;
  overflow: auto;
}

.message {
  height: 100px;
  margin: 8px;
  background-color: #871181;
  border-radius: $border-radius;
  text-align: center;
  color: white;
  padding: 32px;
}