<app-nav-carousel></app-nav-carousel>
<app-ayat-search *ngIf="true"></app-ayat-search>
<div style="
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: lightblue;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
z-index: 10090;
" ngIf="">
  <h3>সুবহান আল্লাহ</h3>
  <h3>আলহামদুলিল্লাহ</h3>
  <h3>লা ইলাহা ইল্লা আল্লাহ</h3>
  <h3>আল্লাহ আকবার</h3>
</div>
<!--
<div style="border:1px solid green">
  <a href="#" (click)="onShow($event)" class="text-decoration-none" style="position: absolute;right: 0px; border:1px solid red">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
      class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z">
      </path>
    </svg>
  </a>
  <div style="border:1px solid yellow; min-height: 60vh;" *ngIf="show">
  </div>
</div>-->

<!--<app-ayat-search *ngIf="true"></app-ayat-search>
<app-ayat-select *ngIf=""></app-ayat-select>
<app-ayat-dynamic *ngIf=""></app-ayat-dynamic>-->
