<div class="sticky-top m-n1">
  <div class="border-bottom bg-light">
    <div class="d-flex justify-content-between">
      <div class="px-2 pt-2">
        <h5>Information</h5>
      </div>
      <div class=""></div>
      <div class=""><a class="btn btn-sm pt-2" routerLink="/user/add">Add New</a></div>
    </div>
  </div>
</div>
<ul class="list-group list-group-flush" *ngIf="!showSpinner && users; else loading">
  <li class="list-group-item" *ngFor="let user of users; let i = index">
    <a class="list-title" routerLink="/user/view/{{ user.id }}">
    {{ i+1 }}-) {{ user.first_name + ' ' + user.last_name }}</a>
    <p class="">{{ user.email }}</p>
  </li>
</ul>
<ng-template #loading>
  Loading...
</ng-template>