<div style="position: relative">
  
  <app-print-page>Loading...</app-print-page>

  <ng-container *ngIf="false">

    <app-blog>Loading...</app-blog>
    <app-blog-test>Loading...</app-blog-test>

    <app-blog-test>Loading...</app-blog-test>
    <app-offcanvas-test>Loading...</app-offcanvas-test>

    <app-google-input-tools>Loading...</app-google-input-tools>
    <app-google-input-tools-test>Loading...</app-google-input-tools-test>

    <app-audio-player-test></app-audio-player-test>
    <app-async-http-request-test>Loading...</app-async-http-request-test>

    <app-reactive-form-test>Loading...</app-reactive-form-test>
    <app-reactive-form-table>Loading...</app-reactive-form-table>
    <app-reactive-profile-editor>Loading...</app-reactive-profile-editor>

    <app-paging-test>Loading...</app-paging-test>
    <app-in-word [amount]="1000">Loading...</app-in-word>

    <app-print-page>Loading...</app-print-page>

  </ng-container>
</div>