<main class="container">
  <div class="bg-light p-5 rounded mt-3">
    <h1>Bottom Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
    <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
  
</main>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bottom navbar</a>
    <div class="btn-group" dropdown [dropup]="isDropup">
      <button id="button-dropup" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-dropup">     
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-dropup">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
        </li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else
          here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>