<main class="container">
  <!--
    <div class="bg-light p-5 rounded mt-3">
    <h1>Bottom Navbar example</h1>
    <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
    <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">View navbar docs &raquo;</a>
  </div>
  <i class="bi bi-alarm"></i>
  <app-container></app-container>
-->
  <!---->
  <router-outlet></router-outlet>
</main>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Life-Whois</a>
    <!--<app-dropdown></app-dropdown>
    <app-popover></app-popover>
    <a class="btn btn-success"  routerLink="/quran/ilm">Ilm</a>
    <app-app-startup></app-app-startup>
    <app-popover></app-popover>
  -->
    <div class="flex-parent">
      <div class="flex-child" style="text-align:left;">
        <a href (click)="(false)" style="padding: 0 6px;">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
      </div>
      <div class="flex-child" style="text-align:center;" *ngIf="0">
        <a href (click)="(false)" style="padding: 0 6px;">
          <i class="bi bi-check-circle"></i>
        </a>
      </div>
      <div class="flex-child" style="text-align:center;">
        <!--<a href (click)="(false)" style="padding: 0 6px;">
          <i class="bi bi-filter-circle"></i>
        </a>-->
        <app-popover [switch_on]="1"></app-popover>
      </div>
      <div class="flex-child" style="text-align:right;" *ngIf="0">
        <a href (click)="(false)" style="padding: 0 6px;">
          <i class="bi bi-star"></i>
        </a>
      </div>
      <div class="flex-child" style="text-align:right;">
        <a href (click)="(false)" style="padding: 0 6px;">
          <i class="bi bi-arrow-right-circle"></i>
        </a>
      </div>
    </div>
    <div class="btn-group">
      <ng-template #popTemplate>
        <nav class="nav flex-column" style="white-space: nowrap;">
          <a class="nav-link active" routerLink="/" href (click)="(false)">
            <i class="fa fa-home"></i>
            Home
          </a>
          <a class="nav-link" routerLink="/quran/ilm" href (click)="(false)">
            <i class="fa fa-hand-o-right"></i>
            Ilm (علم)
          </a>
          <!--
        <a class="nav-link" href (click)="false">Link</a>
        <a class="nav-link disabled"  href (click)="false">Up-Coming</a>
        -->
          <a class="nav-link disabled" href (click)="(false)">Disabled</a>
        </nav>
      </ng-template>
      <button
        type="button"
        class="btn btn-outline-secondary"
        [popover]="popTemplate"
        placement="auto"
        [outsideClick]="true"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
