<!-- 
<h3 class="font-weight-normal text-center mt-5">{{title}}</h3>
<div class="card-deck">
  <app-ayat-card [data]="ayat" class="card shadow-sm mb-2" *ngFor="let ayat of ayatList">
    Loading...
  </app-ayat-card>
  <app-ayat-card [data]="ayat" class="card shadow-sm mb-2" *ngFor="let ayat of ayatList">
  Loading...
</app-ayat-card>
</div>
<hr>

<div class="card-deck">
</div>
-->

<div class="row">
  <ng-template #container></ng-template>
</div>
<app-add-btn-fixed [positionBottom]="60" (onAddClick)="addNew($event)" ></app-add-btn-fixed>