<div id="instructions">
	<video id="my_video_1" width="600" height="400" controls>
		<source src="https://github.com/gzuzmark/angular-8-html5-video-player-demo/blob/master/src/app/MIB2.mp4?raw=true" type='video/mp4' />
		<source src="https://github.com/gzuzmark/angular-8-html5-video-player-demo/blob/master/src/app/MIB2.webm?raw=true" type='video/webm' />
		<track label="English" kind="subtitles" srclang="en" src="https://github.com/gzuzmark/angular-8-html5-video-player-demo/blob/master/src/app/MIB2-subtitles-pt-BR.vvt?raw=true" default>
	</video>
	<button (click)="playPause()">Play/Pause</button>
	<button (click)="makeBig()">Big</button>
	<button (click)="makeSmall()">Small</button>
	<button (click)="makeNormal()">Normal</button>
	<button (click)="restart();">Restart</button>
	<button (click)="skip(-10)">Rewind</button>
	<button (click)="skip(10)">Fastforward</button>
</div>