<div class="form-group">
<label for="item">Select One Item:</label>
<select class="form-control form-control-sm" [(ngModel)]="selected" [value]="selected" >
<option value="icon-bar">Icon Bar</option>
<option value="direct-chat">Direct Chat</option>
<option value="arrow">Arrow</option>
<option value="arrow-list">Arrow List</option>
<option value="dynamic-input">Dynamic Input</option>
</select>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="selected=='?'"></ng-container>
<app-icon-bar *ngIf="selected=='icon-bar'"></app-icon-bar>
<app-direct-chat *ngIf="selected=='direct-chat'"></app-direct-chat>
<app-arrow *ngIf="selected=='arrow'"></app-arrow>
<app-arrow-list *ngIf="selected=='arrow-list'"></app-arrow-list>
<app-dynamic-input></app-dynamic-input>
<!--<app-dynamic-input [showTitle]="false"></app-dynamic-input>-->