<div class="form-group">
<label for="item">Select One Item:</label>
<select class="form-control form-control-sm" [(ngModel)]="selected" [value]="selected" >
<option value="icon-bar">Moment</option>
<option value="direct-chat">Employee-List</option>
<option value="arrow">Employee-Register</option>
<option value="attendance">Monthly-Attendance</option>
</select>
</div>
<div class="clearfix"></div>
<ng-container *ngIf="selected=='?'"></ng-container>
<app-icon-bar *ngIf="selected=='icon-bar'"></app-icon-bar>
<app-direct-chat *ngIf="selected=='direct-chat'"><