 <ng-template #refTemplate>
    <ng-container *ngFor="let it of map(searchIndex);">
        <span class="list-group-item m-0" style="padding: 0.1rem .50rem;text-align: center;"  *ngIf="it">
            <a href (click)="handleScrollClick($event, it)">{{it}}</a>
        </span>
    </ng-container>
</ng-template>
<div id="analyticsContainer" class="toggler" 
[ngClass]="toggler?'peek':'shown'">
  <div id="analyticsReminder" [ngStyle]="{'top':positionTop+'px'}">
      <button id="popupUserConsentButton" type="button" aria-label="Popup User Consent" (click)="toggle()" *ngIf="">
          <div class="analytics-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z">
                </path>
            </svg>
          </div>
      </button>
      <button id="popupUserConsentButton" type="button" aria-label="Popup User Consent" (click)="toggle()">
        <div class="analytics-icon" aria-hidden="true" style="margin-top: -2px;" *ngIf="list.length"> 
		    <small><i class="bi bi-search"></i></small> 
        </div> 
        <div class="analytics-icon" aria-hidden="true" style="margin-top: -2px;" *ngIf="!list.length" class="w3-spin"> 
		    <i class="bi bi-question-circle"></i>
        </div>
    </button>
  </div>
  <div id="userConsentContainer" class="consentContainer">
  <button type="button" id="closeConsentContainer" aria-label="Close User Consent" class="closeConsent" (click)="toggle()">×</button>
  <div id="userConsentQuestion" class="consentDefault">
  <app-nav-scroller *ngIf="true" [refTemplate]="refTemplate"></app-nav-scroller>
  <sub-slide-content *ngIf="false" [index]="it.name.charAt(0)"></sub-slide-content>
  <div class="scroller" *ngIf="list.length"  style="max-height:{{maxHeight}}px">
        <div class="flex-parent"><!-- it.name.charAt(0) -->
            <div class="flex-child" *ngFor="let it of list; let i = index;" [hidden]="!i"[appScrollableItem]="it.name">
                <span class="list-group-item" *ngIf="true" [id] ="i" style="padding: 0.25rem .50rem;text-align: center;" >
                    <a href (click)="_onItemClick({$event:$event, item:it},'suggest-item')" >{{it.name}}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="scroller" *ngIf="!list.length" style="text-align: center">
        Please wait, Loading...
    </div>
  </div>

  <div id="userConsentQuestion" class="consentDefault" *ngIf="">
    <div class="container">
        <div *ngFor="let item of items" class="item" [appScrollableItem]="item.key">
            {{item.key}} {{item.value}}
        </div>
    </div>
  </div>
  </div>
  </div>