<div class="row mt-2">
	<div class="col-12">
		<div class="flex-parent">
			<div class="flex-child">
				<div class="input-group input-group-sm mb-0">
					<select class="custom-select form-control-sm" [(ngModel)]="translate" (change)="onChange(translate,'translate')">
					<option *ngFor="let it of translates" [ngValue]="it">
						{{it.name}}
					</option>
			</select>
					<!--
					<div class="input-group-append" dropdown container="body">
						<button id="button-container" class="btn btn-outline-secondary" type="button" data-toggle="dropdown" aria-controls="dropdown-container" dropdownToggle>
						<i class="bi bi-chevron-down"></i>&nbsp;{{translate.name}}
						</button>
						<div id="dropdown-container" class="dropdown-menu" aria-labelledby="button-container" *dropdownMenu>
							<a *ngFor="let it of translates" routerlink="/" (click)="onClick(it, 'translate-item')"
								class="dropdown-item">
								{{it.name}}
							</a>
						</div>
					</div>
					-->
					<div class="input-group-append">
						<div class="input-group-text">
							<input [(ngModel)]="isSuraSearch" (change)="onChange(isSuraSearch,'sura')" type="checkbox" aria-label="Checkbox forinput">
							<label class="form-check-label">&nbsp;Sura</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-parent">
			<div class="flex-child" style="border-bottom: 0px;">
				<div class="input-group input-group-sm">
					<div class="input-group-append">
						<span class="input-group-text" id="inputGroup-sizing-sm">{{lang.id}}</span>
						<!--
							<div class="input-group-prepend" dropdown #dropdown="bs-dropdown" (isOpenChange)="onOpenChange($event)">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" dropdownToggle aria-expanded="false">{{lang.id}}</button>

						<button class="btn btn-outline-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" dropdownToggle aria-expanded="false" [ngStyle]="{'background-image': 'url(' + lang.imageUrl + ')', 'background-size': 'contain'}">&nbsp;&nbsp;&nbsp;&nbsp;</button>

						<div class="dropdown-menu" *dropdownMenu>
							<a class="dropdown-item" *ngFor="let lang of langs" routerlink="/"
								(click)="onClick(lang, 'iang-item')">
								<span class="flags" [ngStyle]="{'background-image': 'url(' + lang.imageUrl + ')'}"></span>
								{{lang.name}}
							</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" routerlink="/">Separated link</a>
						</div>
						</div>-->
					</div>
					<ng-container *ngIf="!isSuraSearch">
						<!--[typeaheadMultipleSearch]="true"
					typeaheadMultipleSearchDelimiters="','"-->
						<input type="text"
						[(ngModel)]="search"
						(typeaheadOnSelect)="onSelect($event)"
						typeaheadOptionField="suggestion"
						[typeahead]="suggestions$"
						[typeaheadAsync]="true"
						class="form-control" [disabled]='isSearchLoading' aria-describedby="inputGroup-sizing-sm">
					</ng-container>
					<ng-container *ngIf="isSuraSearch">
						<input [(ngModel)]="search" (typeaheadOnSelect)="onSelect($event)"[typeahead]="suras"       typeaheadOptionField="name" [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="10"  [typeaheadMinLength]="0" class="form-control" [disabled]='isSearchLoading'  [typeaheadOptionsLimit]="114" aria-describedby="inputGroup-sizing-sm">
					</ng-container>
					<ng-container *ngIf="!isSearchLoading">
						<div class="input-group-append">
							<button type="button"
						(click)="onClick($event,'search')"
						class="btn btn-outline-secondary">
							<i class="bi bi-search"></i>
						</button>
						</div>
					</ng-container>
					<ng-container *ngIf="isSearchLoading">
						<div class="input-group-append">
							<button type="button"
							class="btn btn-outline-secondary">
							<span class="flags" [ngStyle]="{'background-image': 'url(https://ictcarehome.com/Content/fancybox/fancybox_loading.gif)'}"></span>
							</button>
						</div>
					</ng-container>
				</div>
				<!--<div class="form-group">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="bi bi-search"></i></span>
						</div>
						<input type="text" class="form-control">
					</div>
				</div>-->
			</div>
		</div>
		<div class="flex-parent mb-2">
			<div class="flex-child" style="border-top: 0px;">
				<small>Search result : {{ayatList.length}}</small>
			</div>
		</div>
		<!--
		<div>
			<button type="button"
					(click)="onClick($event,'test')"
					class="btn btn-block">
					search
					</button>
			<p *ngFor="let it of list; let i = index;">
			{{i+1}}| {{it}}<br>
			</p>
		</div>-->
		<div class="list-group" *ngIf="">
			<a class="list-group-item list-group-item-action flex-column align-items-start ng-star-inserted" routerlink="/">
				<p class="text-center ayath">
					<small>
						"Al-Qur'an (Sura no:&nbsp;1.Al-Fatiha, Ayat no:&nbsp;1)"
					</small>
				</p>
				<hr class="hrh">
				<p class="mb-1 ayat">
					بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ
				</p><br>
				<p class="mb-1">শুরু করছি আল্লাহর নামে যিনি পরম করুণাময়, অতি দয়ালু।</p><br>
				<p class="mb-1">In the name of Allah, most benevolent, ever-merciful.</p><br>
			</a>
		</div>
		<div class="list-group">
			<a routerlink="/" *ngFor="let it of ayatList; let i = index;"
				class="list-group-item list-group-item-action flex-column align-items-start">
				<p class="text-center texth">
					<small>"Al-Qur'an (Sura no:&nbsp;{{it.sura}}.{{it.stext}}, Ayat no:&nbsp;{{it.aya}})"</small>
				</p>
				<hr class="hrh">
				<p class="atext" >{{it.atext}}</p>
				<hr class="hrh">
				<p class="mtext" appTextHighlight [content]="it.mtext" [searchTerm]="search">
					{{it.mtext}}
				</p>
				<hr class="hrh">
				<p class="etext">{{it.etext}}</p>
			</a>
			<!--<a routerlink="/" *ngFor="let it of ayatList; let i = index;"
				class="list-group-item list-group-item-action flex-column align-items-start {{i?'':'active'}}">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{it.index}}.List group item heading</h5>
					<small>{{it.aya}}/{{it.sura}} Ayat/Sura</small>
				</div>
				<p class="mb-1">{{it.text}}</p>
				<small>{{it.etext}}</small>
			</a>
			<!--
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">List group item heading</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				<small class="text-muted">Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">List group item heading</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				<small class="text-muted">Donec id elit non mi porta.</small>
			</a>-->
		</div>
	</div>
</div>