<div class="row mt-2">
	<div class="col-12">
		<div class="flex-parent">
			<div class="flex-child">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend" dropdown #dropdown="bs-dropdown" (isOpenChange)="onOpenChange($event)">
						<!--<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" dropdownToggle aria-expanded="false">{{lang.id}}</button>-->
						<button class="btn btn-outline-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" dropdownToggle aria-expanded="false" [ngStyle]="{'background-image': 'url(' + lang.imageUrl + ')', 'background-size': 'cover'}">&nbsp;&nbsp;&nbsp;&nbsp;</button>
						<div class="dropdown-menu" *dropdownMenu>
							<a class="dropdown-item" *ngFor="let lang of langs" routerlink="/"
								(click)="onMenuItemClick({ lang: lang, dropdown: dropdown })">
								<span class="flags" [ngStyle]="{'background-image': 'url(' + lang.imageUrl + ')'}"></span>
								{{lang.name}}
							</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" routerlink="/">Separated link</a>
						</div>
					</div>
					<!--<input type="text" class="form-control" aria-label="Text input with segmented dropdown button">-->
					<input type="text" 
						[(ngModel)]="search"
						(typeaheadOnSelect)="onSelect($event)"
						typeaheadOptionField="suggestion"
						[typeahead]="suggestions$"
						[typeaheadAsync]="true"
						class="form-control">
					<div class="input-group-append">
						<button type="button" class="btn btn-outline-secondary">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
				<!--<div class="form-group">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="bi bi-search"></i></span>
						</div>
						<input type="text" class="form-control">
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>