<div class="row mt-2">
	<div class="col-12">
		<div class="flex-parent">
			<div class="flex-child">
				<div class="btn-group" dropdown (isOpenChange)="onOpenChange($event)" >
					<button id="btnGroupDrop1" type="button" class="btn btn-secondary" 
					dropdownToggle
					data-toggle="dropdown" aria-haspopup="true" 
					aria-expanded="false">
							<i class="bi bi-chevron-down"></i> Dropdown
					</button>
					<div class="dropdown-menu" *dropdownMenu>
						<a class="dropdown-item" *ngFor="let it of langs" routerlink="/">
							{{it.name}}
						</a>
					</div>
					<!--<div class="btn-group" role="group" dropdown #dropdown="bs-dropdown" (isOpenChange)="onOpenChange($event)">
						<button class="btn btn-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" dropdownToggle aria-expanded="false"
						>
							csxdv fgdfgf 
						</button>

						<div class="dropdown-menu" *dropdownMenu>
							<a class="dropdown-item" *ngFor="let lang of langs" routerlink="/"
								(click)="onMenuItemClick({ lang: lang, dropdown: dropdown })">
								<span class="flags" [ngStyle]="{'background-image': 'url(' + lang.imageUrl + ')'}"></span>
								{{lang.name}}
							</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" routerlink="/">Separated link</a>
						</div>
					</div>-->
					<div class="input-group-append">
						<div class="input-group-text ">
							<input class="" type="checkbox" aria-label="Checkbox for following text input">
							<label class="form-check-label">&nbsp;Sura</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-parent">
			<div class="flex-child">
				<div class="input-group input-group-sm mb-3">
					<div class="input-group-prepend">
						<button class="btn btn-outline-secondary" type="button">{{lang.id}}</button>
						<!--
							<div class="input-group-prepend" dropdown #dropdown="bs-dropdown" (isOpenChange)="onOpenChange($event)">
							<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" dropdownToggle aria-expanded="false">{{lang.id}}</button>

						<button class="btn btn-outline-secondary" type="button" data-toggle="dropdown" aria-haspopup="true" dropdownToggle aria-expanded="false" [ngStyle]="{'background-image': 'url(' + lang.imageUrl + ')', 'background-size': 'contain'}">&nbsp;&nbsp;&nbsp;&nbsp;</button>

						<div class="dropdown-menu" *dropdownMenu>
							<a class="dropdown-item" *ngFor="let lang of langs" routerlink="/"
								(click)="onMenuItemClick({ lang: lang, dropdown: dropdown })">
								<span class="flags" [ngStyle]="{'background-image': 'url(' + lang.imageUrl + ')'}"></span>
								{{lang.name}}
							</a>
							<div role="separator" class="dropdown-divider"></div>
							<a class="dropdown-item" routerlink="/">Separated link</a>
						</div>
						</div>-->
					</div>
					<input type="text"
						[(ngModel)]="search"
						(typeaheadOnSelect)="onSelect($event)"
						typeaheadOptionField="suggestion"
						[typeahead]="suggestions$"
						[typeaheadAsync]="true"
						[typeaheadMultipleSearch]="true"
						typeaheadMultipleSearchDelimiters="' '"
						class="form-control">
					<div class="input-group-append">
						<button type="button"
						(click)="onClick($event,'search')"
						class="btn btn-outline-secondary">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
				<!--<div class="form-group">
					<div class="input-group input-group-sm">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="bi bi-search"></i></span>
						</div>
						<input type="text" class="form-control">
					</div>
				</div>-->
			</div>
		</div>
		<div class="list-group">
			<a routerlink="/" *ngFor="let it of ayatList; let i = index;"
				class="list-group-item list-group-item-action flex-column align-items-start {{i?'':'active'}}">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{it.index}}.List group item heading</h5>
					<small>{{it.aya}}/{{it.sura}} Ayat/Sura</small>
				</div>
				<p class="mb-1">{{it.text}}.</p>
				<small>Donec id elit non mi porta.</small>
			</a>
			<!--
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">List group item heading</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				<small class="text-muted">Donec id elit non mi porta.</small>
			</a>
			<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">List group item heading</h5>
					<small class="text-muted">3 days ago</small>
				</div>
				<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				<small class="text-muted">Donec id elit non mi porta.</small>
			</a>-->
		</div>
	</div>
</div>