<div class="card slider-card" [class.slider-card-index-open]="doorClassToggled">
<div class="card-header with-border">
  <h3 class="card-title">Card Header</h3>
</div>
<div class="card-body">
  <div class="slider-card-content">
    <ng-template #contentRef></ng-template>
    <ng-container *ngTemplateOutlet="refContent?refContent:contentRef">
    </ng-container>
  </div>
  <div class="slider-card-index">
    <ng-template #indexRef></ng-template>
    <ng-container *ngTemplateOutlet="refIndex?refIndex:indexRef">
    </ng-container>
  </div>
</div>
<div class="card-footer">
  <h3 class="card-title">Card Footer</h3>
  <button (click)="toggleDoor()">door</button>
</div>
</div>