<div class="card slider-card" [class.slider-card-index-open]="doorClassToggled">
<div class="card-header with-border py-1 px-2" *ngIf="cardHeader">
  <ng-template #headerRef>
   <div class="flex-parent">
    <div class="flex-child" style="text-align:left;">
      <h3 class="card-title m-0">{{cardHeader}}</h3>
    </div>
    <div class="flex-child" style="text-align:center;">
      <a href (click)="false" *ngIf="">
        <i class="bi bi-check-circle"></i>
      </a>
    </div>
    <div class="flex-child" style="text-align:right;">
      <a href (click)="false" *ngIf="">
        <i class="bi bi-star"></i>
      </a>
    </div>
  </div>
</ng-template>
<ng-container *ngTemplateOutlet="refHeader?refHeader:headerRef">
  </ng-container>
</div>
<div class="card-body">
  <div class="slider-card-content" style="max-height:{{maxHeight-((cardHeader?50:0)+(showFooter?50:0))}}px">
    <ng-template #contentRef></ng-template>
    <ng-container *ngTemplateOutlet="refContent?refContent:contentRef">
    </ng-container>
  </div>
  <div class="slider-card-index" style="max-height:{{maxHeight-((cardHeader?50:0)+(showFooter?50:0))}}px">
    <ng-template #indexRef></ng-template>
    <ng-container *ngTemplateOutlet="refIndex?refIndex:indexRef">
    </ng-container>
  </div>
</div>
<div class="card-footer py-1 px-2" *ngIf="showFooter">
  <ng-template #footerRef>
    <div class="flex-parent">
      <div class="flex-child" style="text-align:left;" *ngIf="!onClickL.observed">
      <a href (click)="_onClickL($event)">
          <i class="bi bi-chat-left-fill"></i>
        </a>
      </div>
      <div class="flex-child" style="text-align:center;" *ngIf="onClickC.observed">
      <a href (click)="_onClickC($event)">
          <i class="bi bi-chat-square-fill"></i>
        </a>
      </div>
      <div class="flex-child" style="text-align:right;" *ngIf="onClickR.observed">
        <a href (click)="_onClickR($event)">
          <i class="bi bi-chat-right-fill"></i>
        </a>
      </div>
      <div class="flex-child" style="text-align:right;" *ngIf="onClick.observed">
        <a href (click)="_onClick($event)">
          <i class="bi bi-check-lg"></i>
        </a>
      </div>
      <div class="flex-child" style="text-align:right;">
        <a *ngIf="1" href (click)="toggleDoor($event)" style="padding: 4px 8px 6px 8px;border: 1px lightgray dotted;">
          <i class="bi bi-text-indent-{{doorClassToggled?'right':'left'}}"></i>
        </a>
        <!--<i class="bi bi-text-indent-left"></i>bi bi-chevron-compact-->
        <a *ngIf="0" href (click)="toggleDoor($event)" style="padding: 4px 8px 6px 8px;border: 1px lightgray dotted;" class="{{config.bg[2]}}">
        <i class="{{config.icon[1]}}"></i>
      </a>
      </div>
    </div>
  </ng-template>
  <ng-container *ngTemplateOutlet="refFooter?refFooter:footerRef">
    </ng-container>
</div>
</div>