<div class="sticky-top m-n1" *ngIf="1">
    <div class="border-bottom bg-light">
      <div class="d-flex justify-content-between">
        <div class="px-2 pt-2">
          <h5>Chart</h5>
        </div>
        <div class=""></div>
        <div class=""><a class="btn btn-sm pt-2" routerLink="/chart/pie">Pie</a></div>
        <div class=""><a class="btn btn-sm pt-2" routerLink="/chart/bar">Bar</a></div>
        <div class=""><a class="btn btn-sm pt-2" routerLink="/chart/line">Line(Chart)</a></div>
        <div class=""><a class="btn btn-sm pt-2" routerLink="/chart/test">Test</a></div>
        <div class=""><a class="btn btn-sm pt-2" routerLink="/chart/linear">Linear</a></div>
      </div>
    </div>
  </div>
<div class="sticky-top" *ngIf="">
  <div class="d-flex flex-wrap justify-content-end">
    <div class="p-2">
      <a class="btn btn-link" routerLink="/chart/pie">Pie(Chart)</a>
    </div>
    <div class="p-2">
      <a class="btn btn-link" routerLink="/chart/bar">Bar(Chart)</a>
    </div>
    <div class="p-2">
      <a class="btn btn-link" routerLink="/chart/linear">Linear(Chart)</a>
    </div>
    <div class="p-2">
      <a class="btn btn-link" routerLink="/chart/line">Line(Chart)</a>
    </div>
    <div class="p-2">
      <a class="btn btn-link" routerLink="/chart/test">Test(Chart)</a>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap p-4">
  <app-pie *ngIf="1"></app-pie>
  <app-bar *ngIf="1"></app-bar>
  <app-line *ngIf="1"></app-line>
  <app-polar *ngIf="1"></app-polar>
</div>
<router-outlet></router-outlet>
