/* Add application styles & imports to this file! */

.mt--1{
  margin-top:15px;
}

.attendance-header{
  font-weight: bold;
  font-size: medium;
}

.student-name{
  padding-bottom: 25px;
}

.scroll-x{
  overflow-x:scroll;
}

.type--bold{
  font-weight: bold;
}

.pad--b-8{
  /* overflow-x: scroll; */
  padding-bottom:8px;
}

.disp-flex{
  display: flex;
  flex-direction:row;
}

.disp-block-attendance{
  display: block;
  width:20px;
}

.day{
  flex: 1;
  padding-bottom: 5px;
  text-align: center;
  border:1px solid grey;
}



.present,.no-attendance{
  color:green;
}

.absent{
  color: red;
}
