<div id="analyticsContainer" class="toggler" 
[ngClass]="toggler?'peek':'shown'">
  <div id="analyticsReminder" [ngStyle]="{'top:positionTop+'px'}">
      <button id="popupUserConsentButton" type="button" aria-label="Popup User Consent" (click)="toggle()">
          <div class="analytics-icon" aria-hidden="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z">
                </path>
            </svg>
          </div>
      </button>
  </div>
  
  <div id="userConsentContainer" class="consentContainer">
      <button type="button" id="closeConsentContainer" aria-label="Close User Consent" class="closeConsent" (click)="toggle()">×</button>
      <div id="userConsentQuestion" class="consentDefault">
        <ng-template #templateRef></ng-template>
        <ng-container *ngTemplateOutlet="refTemplate?refTemplate:templateRef">
        </ng-container>
      </div>
  </div>
  </div>