<ng-template #popTemplate>
  <app-feature></app-feature>
</ng-template>
<ng-container [ngSwitch]="switch_on">
  <div class="btn-group"  *ngSwitchCase="0">
  <button type="button" class="btn btn-success" 
          [popover]="popTemplate" 
          [popoverTitle]="title"
          placement="top middle" [outsideClick]="true">
          <span class="navbar-toggler-icon"></span>
    <!--||<span class="navbar-toggler-icon"></span>||-->
  </button>
  </div>
  <div class=""  *ngSwitchCase="1">
    <a href (click)="(false)" 
      [popover]="refPopover?refPopover:popTemplate" 
      [popoverTitle]="title" style="padding: 0 6px;"
      placement="top middle" [outsideClick]="true">
      <i class="bi bi-filter-circle"></i>
    </a>
  </div>
</ng-container>
